{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
{# TODO: Figure out a way to have some sort of progress bar when run is processing #}
<h2>COWBAT Status for {{ sequencing_run.run_name }}</h2>
<br>
{% if sequencing_run.status == 'Unprocessed' %}
    <button class="btn btn-primary btn-block" disabled>{{ sequencing_run.status }}</button>
{% elif sequencing_run.status == 'Error' %}
    <button class="btn btn-danger btn-block" disabled>{{ sequencing_run.status }}</button>
{% elif sequencing_run.status == 'Processing' %}
  <button class="btn btn-warning btn-block" disabled>{{ sequencing_run.status }}</button>
{% endif %}
{% endblock %}
