{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
<h2>Step 1 of 3: Upload Metadata Files and Name Run</h2>
  <p>Please enter a run name and drag and drop the files found in the following table to be uploaded. Once all files have been uploaded,
  you will be able to proceed to the next page.</p>
  <br>
  <table id="files-required-table" class="table table-hover compact">
    <thead>
        <tr>
          <td>File</td>
          <td>Status</td>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
          <td>SampleSheet.csv</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>RunInfo.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>GenerateFASTQRunStatistics.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>config.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>CompletedJobInfo.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
        <tr>
          <td>runParameters.xml</td>
          <td class="table-danger" align="center"><i class="fa fa-ban fa-1x"></i></td>
        </tr>
    </tbody>
  </table>
  <form action={% url 'cowbat:upload_metadata' %} class="dropzone" id="myDropzone" enctype="multipart/form-data" method="post" name="file-form">
    {{ form }}
  {% csrf_token %}
  </form>
  <br>
  <button id="submit" class="btn btn-success" disabled>Upload Metadata Files</button>
  <button id="validate" class="btn btn-primary">Validate Metadata Files</button>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}"/>
  <script src={% static 'js/dropzone.js' %}></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript">
  function validateForm() {
      var x = document.forms["file-form"]["run_name"].value;
      var run_name_regex = /\d{6}_[A-Z]+/;
      if (x === "") {
        alert("Must enter a run name");
        return false
      }
      var found = x.match(run_name_regex);
      if (found === null) {
        alert("Invalid Run Name. Correct format is YYMMDD_LAB");
        return false
      }
      return true
    }
  Dropzone.options.myDropzone = {

    // Prevents Dropzone from uploading dropped files immediately
    autoProcessQueue: false,
    addRemoveLinks: true,
    acceptedFiles: '.xml, .csv',
    maxFilesize: 1024, // This is in MB. Shouldn't ever have files bigger than this.
    parallelUploads: 200, // Number of files allowed to upload at one. Shouldn't ever be bigger than this
    uploadMultiple: true,
    maxFiles: 200,
    timeout: 3600000,

    init : function() {
      // TODO: Add validation that SEQIDs are correctly formatted. Don't let user proceed unless they are.
                var submitButton = document.querySelector("#submit");
                var validateButton = document.querySelector("#validate");
                var myDropzone = this;

                this.on("queuecomplete", function () {
                  $("#myDropzone").submit();
                });
                validateButton.addEventListener("click", function(e) {
                      var filesAccepted = myDropzone.getAcceptedFiles();
                      var filesTable = document.getElementById('files-required-table');
                      // Change classes for SampleSheet, RunInfo, whatever else to green checkmark
                      // if those files have been uploaded.
                      var filesAcceptedNames = [];
                     // Get all the names put into array for validation.
                      for(var i=0; i<filesAccepted.length; i++) {
                        filesAcceptedNames.push(filesAccepted[i].name)
                      }
                      for(var i = 1; i < filesTable.rows.length;)
                      {
                          filesTable.deleteRow(i);
                      }
                      var validationSuccess = true;
                      var requiredFiles = ['SampleSheet.csv', 'RunInfo.xml', 'GenerateFASTQRunStatistics.xml', 'config.xml', 'CompletedJobInfo.xml', 'runParameters.xml'];
                      for(var i=0; i<requiredFiles.length; i++ ) {
                        if (filesAcceptedNames.indexOf(requiredFiles[i]) !== -1) {
                          var row = filesTable.insertRow();
                          var cell1 = row.insertCell();
                          var cell2 = row.insertCell();
                          cell1.innerHTML=requiredFiles[i];
                          cell2.classList.add('table-success');
                          cell2.align = 'center';
                          cell2.innerHTML = '<i class=\"fa fa-check-circle fa-1x\"></i>';
                        }
                        else {
                          var row = filesTable.insertRow();
                          var cell1 = row.insertCell();
                          var cell2 = row.insertCell();
                          cell1.innerHTML=requiredFiles[i];
                          cell2.classList.add('table-danger');
                          cell2.align = 'center';
                          cell2.innerHTML = '<i class=\"fa fa-ban fa-1x\"></i>';
                          validationSuccess = false;
                        }
                      }
                      var form_is_valid = validateForm();
                      if (validationSuccess === true && form_is_valid === true) {
                        $('#submit').prop('disabled', false);
                      }
                });
                submitButton.addEventListener("click", function(e) {
                    {#e.preventDefault();#}
                    {#e.stopPropagation();#}
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });
      }
    };
</script>
{% endblock %}
