{% extends "base.html" %}
{#Head container#}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% block content %}
    <h2>{{ project.project_title }}</h2>
    {% for sample in project.samples.all %}
        <p>{{ sample.title|linebreaks }}</p>
    {% empty %}
        <p>This project does not have any samples yet.</p>
    {% endfor %}

    <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Run Jobs'>
    </form>

    <td><a href="{% url 'new_multisample:upload_samples' project_id=project.pk %}" class="btn btn-primary btn-block active" role="button" aria-pressed="true">Upload Samples</a></td>
{% endblock %}
