{% extends "base.html" %}
{#Head container#}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% load i18n widget_tweaks %}
{% block content %}
    <h4>{{ project.project_title }}</h4>
    <hr>
    <table class="display compact" id="sample_table">
    <thead>
        <tr>
            <th style="text-align: center">Sample</th>
            <th style="text-align: center">GeneSippr</th>
            <th style="text-align: center">SendSketch</th>
            <th style="text-align: center">ConFindr</th>
            <th style="text-align: center">GenomeQAML</th>
            <th style="text-align: center">AMR Detection</th>
            <th style="text-align: center">Data Type</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for sample in project.samples.all %}
            <tr align="center">
                <td style="white-space: nowrap">{{ sample.title }}</td>

                {# GENESIPPR #}
                {% if sample.genesippr_status == 'Processing' %}
                    <td>
                        <div class="progress">
                            <button class="btn progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:100%" >
                                <span class="justify-content-center d-flex position-absolute w-100" style="font-size: 12pt">
                                    {{ sample.genesippr_status }}
                                </span>
                            </button>
                        </div>
                    </td>

                {% elif sample.genesippr_status == 'Unprocessed' %}
                    <td><button class="btn btn-primary" disabled>{{ sample.genesippr_status }}</button></td>
                {% elif sample.genesippr_status == 'Complete' %}
                    <td><a href="{% url 'new_multisample:display_genesippr_results' project_id=project.pk %}" class="btn btn-primary bg-success border-success" role="button" aria-pressed="true">{{ sample.genesippr_status }}</a></td>
                {% else %}
                    <td><button class="btn btn-primary bg-danger border-danger" disabled>{{ sample.genesippr_status }}</button></td>
                {% endif %}

                {# SENDSKETCH #}
                {% if sample.sendsketch_status == 'Processing' %}
                    <td>
                        <div class="progress">
                            <button class="btn progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:100%" >
                                <span class="justify-content-center d-flex position-absolute w-100" style="font-size: 12pt">
                                    {{ sample.sendsketch_status }}
                                </span>
                            </button>
                        </div>
                    </td>

                {% elif sample.sendsketch_status == 'Unprocessed' %}
                    <td><button class="btn btn-primary" disabled>{{ sample.sendsketch_status }}</button></td>
                {% elif sample.sendsketch_status == 'Complete' %}
                    <td><a href="{% url 'new_multisample:sendsketch_results_table' sample_id=sample.pk %}" class="btn btn-primary bg-success border-success" role="button" aria-pressed="true">{{ sample.sendsketch_status }}</a></td>
                {% else %}
                    <td><button class="btn btn-primary bg-danger border-danger" disabled>{{ sample.sendsketch_status }}</button></td>
                {% endif %}

                {# CONFINDR #}
                {% if sample.file_fasta %}
                    <td>Unavailable</td>
                {% elif sample.confindr_status == 'Processing' %}
                    <td>
                        <div class="progress">
                            <button class="btn progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:100%" >
                                <span class="justify-content-center d-flex position-absolute w-100" style="font-size: 12pt">
                                    {{ sample.confindr_status }}
                                </span>
                            </button>
                        </div>
                    </td>

                {% elif sample.confindr_status == 'Unprocessed' %}
                    <td><button class="btn btn-primary" disabled>{{ sample.confindr_status }}</button></td>
                {% elif sample.confindr_status == 'Complete' %}
                    <td><a href="{% url 'new_multisample:confindr_results_table' project_id=project.pk %}" class="btn btn-primary bg-success border-success" role="button" aria-pressed="true">{{ sample.confindr_status }}</a></td>
                {% else %}
                    <td><button class="btn btn-primary bg-danger border-danger" disabled>{{ sample.confindr_status }}</button></td>
                {% endif %}

                {# GenomeQAML #}
                {% if sample.file_fasta %}
                    {% if sample.genomeqaml_status == 'Unprocessed' %}
                        <td><button class="btn btn-primary" disabled>{{ sample.genomeqaml_status }}</button></td>
                    {% elif sample.genomeqaml_status == 'Processing' %}
                        <td>
                            <div class="progress">
                                <button class="btn progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:100%" >
                                <span class="justify-content-center d-flex position-absolute w-100" style="font-size: 12pt">
                                    {{ sample.genomeqaml_status }}
                                </span>
                                </button>
                            </div>
                        </td>
                    {% elif sample.genomeqaml_status == 'Complete' %}
                        <td><a href="{% url 'new_multisample:genomeqaml_results' project_id=project.pk %}" class="btn btn-success">{{ sample.genomeqaml_status }}</a></td>
                    {% else %}
                        <td><button class="btn btn-danger" disabled>{{ sample.genomeqaml_status }}</button></td>
                    {% endif %}
                {% else %}
                    <td>Unavailable</td>
                {% endif %}

                {# AMR Detection #}
                {% if sample.amr_status == 'Processing' %}
                    <td>
                        <div class="progress">
                            <button class="btn progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:100%" >
                                <span class="justify-content-center d-flex position-absolute w-100" style="font-size: 12pt">
                                    {{ sample.amr_status }}
                                </span>
                            </button>
                        </div>
                    </td>

                {% elif sample.amr_status == 'Unprocessed' %}
                    <td><button class="btn btn-primary" disabled>{{ sample.amr_status }}</button></td>
                {% elif sample.amr_status == 'Complete' %}
                    <td><a href="{% url 'new_multisample:amr_detail' sample_id=sample.pk %}" class="btn btn-primary bg-success border-success" role="button" aria-pressed="true">{{ sample.amr_status }}</a></td>
                {% else %}
                    <td><button class="btn btn-primary bg-danger border-danger" disabled>{{ sample.amr_status }}</button></td>
                {% endif %}
                {# Data type #}
                {% if sample.file_fasta %}
                    <td><button class="btn btn-secondary" disabled>FASTA</button></td>
                {% else %}
                    <td><button class="btn btn-dark" disabled>FASTQ</button></td>
                {% endif %}
                {#  Sample delete #}
                <td><a href="{% url 'new_multisample:sample_remove_confirm' sample_id=sample.pk %}" class="btn btn-danger" role="button" aria-pressed="true">Delete Sample</a></td>
            </tr>

        {% endfor %}
    </tbody>
    </table>

    <hr>

    {# JOB SELECTION FORM #}
    <h5>Select Jobs</h5>
    <div class="form-group">
        <form class="form-horizontal" role="form" action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field }}</p>
            {% endfor %}

            {# Submit button #}
            <div>
                <button type="submit" class="btn btn-outline-primary ">{% trans "Run selected jobs" %}</button>
            </div>

        </form>
    </div>

    <hr>

    <td>
        <a href="{% url 'new_multisample:upload_samples' project_id=project.pk %}" class="btn btn-primary" role="button" aria-pressed="true">
            Upload samples
        </a>
    </td>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
             $('#sample_table').dataTable({
                 stateSave: true,
             });
        });
        //Periodically reload the page if a job status == 'Processing'
        setInterval(function() {
            {% for sample in project.samples.all %}
                {% if sample.genesippr_status == 'Processing' or sample.sendsketch_status == 'Processing' or sample.confindr_status == 'Processing' or sample.genomeqaml_status == 'Processing' or sample.amr_status == 'Processing' %}
                    window.location = window.location.href;
                {% endif %}
            {% endfor %}
        }, 5000); // This reloads the <div> every 5 seconds.
    </script>

{% endblock %}
