{% extends "base.html" %}
{#Head container#}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n widget_tweaks %}
{% block content %}
  <h2>GeneSeekr Query</h2>
  <form action='' enctype="multipart/form-data" method="post">
   {% if form.errors %}
     <div class="alert alert-danger" role="alert" align="center">
     {{ form.non_field_errors|escape }}
    </div>
   {% endif %}
    {% csrf_token %}
  <p>Enter the SEQIDs you want to search:</p>
    {{ form.seqids }}
    <br>
    <p>Enter your query sequence, in FASTA format (or upload a file below):</p>
    {{ form.query_sequence }}
    <br>
    {{ form.query_file }}
    <br>
    <br>
  <button type="submit" class="btn btn-primary btn">Run Query</button>
  </form>
{% endblock %}
