{% extends "base.html" %}

{% block content %}
    <br>
    <div class="container" align="center">
        <div class="jumbotron">
            <h3> {{ project_id.project_title }}</h3>
            <h5> Date Created: {{ project_id.date }}</h5>
        </div>

        <div id="project-table">
            {% include 'projects/project_table.html' %}
        </div>
    </div>

{#    Script to reload the project table periodically #}
    <script type="text/javascript">
        setInterval(function() {
            jQuery(document).ready(function(){
                jQuery("#project-table").load("project_table");
            });
        }, 5000); // This reloads the <div> every 5 seconds.
    </script>

{% endblock content %}
