{% extends "base.html" %}

{% block content %}
    <br>
    <div class="container" align="center">
        <div class="form-control">
            <h4> <strong>Project Title:</strong> {{ project_id.project_title }}</h4>
            <h5> <strong>Date Created:</strong> {{ project_id.date }}</h5>
        </div>

        {#Main table for displaying project metadata#}
        <br>
        <div id="project-table" class="form-control">
            {% include 'projects/project_table.html' %}
        </div>

        {#Table for displaying statuses of jobs requested#}
        <br>
        <div id="job-status-table" class="form-control">
            {% include 'projects/job_status_table.html' %}
        </div>

        {#Table for displaying genesippr results once they are complete#}
        <br>
        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#genesippr-table-button">GenesipprV2 results</button>
        <div id="genesippr-table-button" class="collapse show">
            <div id="genesippr-results-table" class="form-control">
                    {% include 'projects/genesippr_results_table.html' %}
            </div>
        </div>


        {#Table for displaying sendsketch results once they are complete#}
        <br>
        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#sendsketch-table-button">sendsketch results</button>
        <div id="sendsketch-table-button" class="collapse show">
            <div id="sendsketch-results-table" class="form-control">
                {% include 'projects/sendsketch_results_table.html' %}
            </div>
        </div>



    </div>

    <script type="text/javascript">
        function loadTables() {
            jQuery(document).ready(function(){
                jQuery("#project-table").load("project_table");
                jQuery("#genesippr-results-table").load("genesippr_results_table");
                jQuery("#sendsketch-results-table").load("sendsketch_results_table");
                jQuery("#job-status-table").load("job_status_table");
            });
        }

        //Immediately load the tables
        setTimeout(function() {
            console.log('Initial table loading');
            loadTables();
        }, 1); //

        //Periodically load the tables if and job status == 'Processing'
        setInterval(function() {
            {% if project_id.genesippr_status == 'Processing' or project_id.sendsketch_status == 'Processing' %}
                console.log('Loading...')
                loadTables();
            {% endif %}
        }, 5000); // This reloads the <div> every 5 seconds.
    </script>

{% endblock content %}
