{% block content %}

<div class="container">
    <br><br>
    <h3>GenesipprV2 Report</h3>
    <p><i>Date generated: {{ base_project.date }}</i></p>
    <hr>

    {#Metadata Table#}
    <table class="table table-sm table-responsive">
        <tr>
            <th colspan="2">Input Files</th>
        </tr>
        <tr>
            <td>{{ base_project.filename_r1 }}</td>
            <td>{{ base_project.filename_r2 }}</td>

        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>Genesippr Project ID</th>
            <th>User</th>
        </tr>
        <tr>
            <td>{{ base_project.id }}</td>
            <td>{{ base_project.user.name }}</td>
        </tr>
    </table>

    <hr>
    {% if base_project.genesippr_status == 'Processing' %}
        <pre>Processing...</pre>
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:36px"></i>

    {% elif base_project.genesippr_status == 'Complete' %}

        {#Genesippr Table#}
        <table class="table table-sm table-responsive table-bordered">
        <h5 align="left">GeneSippr</h5>
            {#Table headers#}
            <tr>
                <th>Strain</th>
                <th>Genus</th>
                {% if genesippr_project.genus == 'Salmonella' %}
                    <th>invA</th>
                    <th>stn</th>
                    <th>Serotype</th>
                {% elif genesippr_project.genus == 'Listeria' %}
                    <th>IGS</th>
                    <th>hlyA</th>
                    <th>inlJ</th>
                {% elif genesippr_project.genus == 'Escherichia' %}
                    <th>VT1</th>
                    <th>VT2</th>
                    <th>VT2f</th>
                    <th>uidA</th>
                    <th>eae</th>
                {% endif %}
            </tr>
            <tr>
                {#Genesippr table results#}
                <td>{{ genesippr_project.strain }}</td>

                {% if genesippr_project.genus == 'Salmonella' %}
                    <td>{{ genesippr_project.genus }}</td>
                    {% if genesippr_project.inva_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"></i>
                        </td>
                    {% elif genesippr_project.inva_number < 90 %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x"></i>
                        </td>
                    {% endif %}
                    {% if genesippr_project.stn != '' %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"></i>
                        </td>
                    {% else %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x"></i>
                        </td>
                    {% endif %}
                    <td>{{ genesippr_project.serotype }}</td>

                {% elif genesippr_project.genus == 'Listeria' %}
                    <td>{{ genesippr_project.genus }}</td>
                    <td>{{ genesippr_project.igs }}</td>
                    <td>{{ genesippr_project.hlya }}</td>
                    <td>{{ genesippr_project.inlj }}</td>

                {% elif genesippr_project.genus == 'Escherichia' %}
                    <td>{{ genesippr_project.genus }}</td>
                    {# VT1 #}
                    {% if genesippr_project.vt1_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"></i>
                        </td>
                    {% else  %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x" ></i>
                        </td>
                    {% endif %}

                    {# VT2 #}
                    {% if genesippr_project.vt2_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"></i>
                        </td>
                    {% else %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x"></i>
                        </td>
                    {% endif %}

                    {# VT2f #}
                    {% if genesippr_project.vt2f_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"></i>
                        </td>
                    {% else %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x"></i>
                        </td>
                    {% endif %}

                    {# Uida #}
                    {% if genesippr_project.uida_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"  ></i>
                        </td>
                    {% else %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x" ></i>
                        </td>
                    {% endif %}

                    {# eae #}
                    {% if genesippr_project.eae_number >= 90 or genesippr_project.eae_1_number >= 90 %}
                        <td align="center" class="table-success">
                            <i class="fa fa-check-circle fa-1x"  ></i>
                        </td>
                    {% else %}
                        <td align="center" class="table-warning">
                            <i class="fa fa-ban fa-1x" ></i>
                        </td>
                    {% endif %}

                {% else %}
                    <td align="center" class="table-warning">
                        <i class="fa fa-question-circle fa-1x" ></i>
                    </td>
                {% endif %}
            </tr>
        </table>

        {#GDCS Table#}
        <table class="table table-sm table-responsive table-bordered">
        <h5 align="left">GDCS</h5>
            <tr>
                <th>Strain</th>
                <th>Genus</th>
                <th>Matches</th>
                <th>Mean Coverage</th>
                <th>Pass/Fail</th>
            </tr>
            <tr>
                <td>{{ gdcs_project.strain }}</td>
                <td>{{ gdcs_project.genus }}</td>
                <td>{{ gdcs_project.matches }}</td>
                <td>{{ gdcs_project.meancoverage }}</td>
                {% if gdcs_project.passfail == '+' %}
                    <td class="table-success" align="center">
                        <i class="fa fa-check-circle fa-1x" ></i>
                    </td>
                {% elif gdcs_project.passfail == '-' %}
                    <td class="table-danger">
                        <i class="fa fa-ban fa-1x" ></i>
                    </td>
                {% elif gdcs_project.passfail == '?' %}
                    <td class="table-warning">
                        <i class="fa fa-question-circle fa-1x" ></i>
                    </td>
                {% else %}
                    <td>{{ gdcs_project.passfail }}</td>
                {% endif %}
            </tr>
        </table>

        {#16S Table#}
        <table class="table table-sm table-responsive table-bordered">
        <h5 align="left">SixteenS</h5>
            <tr>
                <th>Strain</th>
                <th>Genus</th>
{#                <th>Gene</th>#}
{#                <th>Percent Identity</th>#}
{#                <th>Fold Coverage</th>#}
            </tr>
            <tr>
                <td>{{ sixteens_project.strain }}</td>
                <td>{{ sixteens_project.genus }}</td>
{#                <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ sixteens_project.gi_accession }}">{{ sixteens_project.gene }}</a></td>#}
{#                <td>{{ sixteens_project.percentidentity }}</td>#}
{#                <td>{{ sixteens_project.foldcoverage }}</td>#}
            </tr>
        </table>


        {#Icon legend#}
        <div class="alert alert-info" align="center">
            <p>
                <i class="fa fa-check-circle fa-1x" >: Pass     </i>
                <i class="fa fa-question-circle fa-1x" >: Indeterminate value     </i>
                <i class="fa fa-ban fa-1x" >: Fail     </i>
            </p>
        </div>

    {% else %}
        <pre>Not available</pre>
    {% endif %}
 </div>

{% endblock content %}
